.overlay {
    position: fixed;
    top: 4rem;
    left: 0;
    z-index: 66;
    width: 100vw;
    height: 100vh;
    opacity: 100;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
}
