.overlay {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.active-profile-icon {
    width: 2rem;
}

.active-container {
    display: flex;
    width: 5rem; /* Adjust as needed */
    justify-content: center;
    align-items: center;
    padding-bottom: 0.75rem; /* Adjust as needed */
    border-style: solid;
    border-bottom-color: #ED64A6; /* Adjust color as needed */
    border-bottom-width: 0.5rem; /* Adjust as needed */
}

.inactive-container {
    display: flex;
    width: 5rem; /* Adjust as needed */
    justify-content: center;
    align-items: center;
    padding-bottom: 0.75rem; /* Adjust as needed */
    border-style: solid;
    border-bottom-color: #ffffff; /* Adjust color as needed */
    border-bottom-width: 0.5rem; /* Adjust as needed */
}

.inactive-profile-icon {
    width: 1.8rem;
    opacity: 40%;
}
