@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import '/Recipe-APP-GAMP/gamp-recipes/public/Argentum-Sans-Bold.ttf.woff';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@500&display=swap');

@layer base {
<<<<<<< HEAD
  html {
    font-family: 'Lato', sans-serif;
    @apply w-screen
  }
  h3 {
    @apply text-5xl font-bold
  }
  h4 {
    @apply text-xs my-1
  }
}
=======
	html {
		font-family: 'Lato', sans-serif;
	}

	body {
		@apply bg-white
	}

	h3 {
		@apply text-5xl font-bold
	}

	h4 {
		@apply text-xs my-1
	}




	@layer utilities {
		@variants responsive {

			/* Hide scrollbar for Chrome, Safari and Opera */
			.no-scrollbar::-webkit-scrollbar {
				display: none;
			}

			/* Hide scrollbar for IE, Edge and Firefox */
			.no-scrollbar {
				-ms-overflow-style: none;
				/* IE and Edge */
				scrollbar-width: none;
				/* Firefox */
			}

			/* // apply this colocr: bg-249-250-251  */
		}
	}
}
>>>>>>> 0322e5c53a4e4726e5e3d9ba079b67f2bae4b52b
